<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Test suite">
    <test name="DAO tests">
        <classes>
            <class name="DepartmentDAOTest"/>
            <class name="EmployeeDAOTest" />
            <class name="DepartmentDAOTest"/>
            <class name="ContractDAOTest"/>
            <class name="integratedTests.IntegratedTest"></class>
        </classes>
    </test>
</suite>