<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/staff</property>
        <property name="connection.username">web_server_user</property>
        <property name="connection.password"/>
        <property name="connection.pool_size">1</property>
        <property name="current_session_context_class">thread</property>
        <property name="show_sql">true</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>

        <mapping resource="models/Department.hbm.xml" />
        <mapping resource="models/Employee.hbm.xml" />
        <mapping resource="models/Position.hbm.xml" />
        <mapping resource="models/Contract.hbm.xml" />
    </session-factory>
</hibernate-configuration>