<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <nav th:fragment="menu(current)" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-md">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a th:class="'nav-link' + (${current == 'departments'}? ' active':'')" th:attr="aria-current=${current == 'departments'}?'page'" href="/departments">Подразделения</a>
          </li>
          <li class="nav-item">
            <a th:class="'nav-link' + (${current == 'employees'}? ' active':'')" th:attr="aria-current=${current == 'employees'}?'page'" href="/employees">Работники</a>
          </li>
          <li class="nav-item">
            <a th:class="'nav-link' + (${current == 'positions'}? ' active':'')" th:attr="aria-current=${current == 'positions'}?'page'" href="/positions">Должности</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</body>

</html>